body {
  font-family: "SF Mono";
  background-color: #272c33;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  letter-spacing: 1.2px;
}

header {
  font-size: 64px;
  margin-bottom: 32px;
}

.content {
  
}

form {
  margin-bottom: 64px;
}

#google-search {
  height: 40px;
  width: 560px;
  font-size: 18px;
  letter-spacing: 1px;
}

#google-button {
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #fff;
}

a#kontext {
  color: rgb(89, 178, 36);
}
a#airtable {
  color: rgb(252, 180, 0);
}
a#redmine {
  color: #ae1400;
}
